input{
    
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 0.25rem; 
    width: 75%;
    /* background-color: var(--primary); */
}

select{
    margin-left: 0.5rem;
    height: 100%;
    font-size: 1rem;

}

